---
title: Deconstruct
layout: layouts/base.njk
permalink: '/templates/threejs/'
tags: template
---

{% set css %}
    {% include "./index.scss" %}
{% endset %}

<style>
{{ css | scss | cssmin | safe }}
</style>

<div id="canvas-container"></div>
<div class="page">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="trigger" id="trigger-1">Release Ball</div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <h2>Ball went: <span class="status" id="status-1">...</span></h2>
    <div class="spacer"></div>
    <div class="trigger" id="trigger-2">Release Ball</div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
</div>

<div id="orbit-controls"></div>

{% set js %}
    {% include "compiled/deconstruct.js" %}
{% endset %}

<script>
{{ js | safe }}
</script>