html, body
{
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;

}

body 
{
  background: #17181D;
  position: relative;
}

.page
{
  z-index: 1;
  position: relative;
  width: calc(80vw - 80px);
  padding: 20px 40px;
  margin: 0;
}

#canvas-container
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.spacer
{
  display: block;
  width: 100%;
  height: 40vh;
}

.status
{
  font-size: 3rem;
}

#orbit-controls
{
  position: fixed;
  z-index: 3;
  bottom: 0;
  right: 0;
  width: 20vw;
  height: 30vh;

}
